<body class ="image responsive home-bg">
  <div class="center jumbotron">
    <h1> Travel Stories </h1>
    <%= link_to "Sign Up", "/signup", class: "btn btn-primary btn-lg btn-xlarge" %> 
    <div class="small-home">It's free!</div>
  
  </div>
</body>