.badge {
  background-color: #C3272B !important;
  font-size: 16px;
  color:white !important;
  
}

.badge a {
  color: white !important;
  text-decoration:none !important;
  
}

.badge:hover {
  background-color: #8F1D21 !important;
}

.input_checkbox {
  width: auto !important;
}
.checkbox-inline.input_checkbox {
  margin-bottom: 0px !important;
}