$navbar-default-bg: #8F1D21;


@import "bootstrap-sprockets";
@import "bootstrap";


@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);

body {
  font-family: 'Roboto', sans-serif; font-weight: 400;
  font-size: 16px;
}
.center {
  text-align: center;
}

.col-sm-10 {
  margin-bottom: 10px !important;

}

h4.text-center-white{
  font-size: 25px;
}

.article-actions{
  padding-top: 20px;
}

.well.col-xs-8.col-xs-offset-2{
  padding-top:30px
}

.index.actions {
  text-align: right !important;
}

// Pagination

// .pagination > li > span {
//     position: relative;
//     float: left;
//     padding: 10px 12px;
//     line-height: 1.42857143;
//     text-decoration: none;
//     color: red;
//     background-color: white;
//     border: 1px solid #ddd;
//     margin-left: -1px;
// }


//Messages

.alert.alert-success {
  background-color: #87D37C !important;
  color: white !important;
  font-size: 20px;
}

.panel.panel-danger{
  background-color: #C91F37 !important;
  color: white !important;
  font-size: 15px;
  
}

.panel-heading{
  background-color: #D24D57 !important;
  color: white !important;

}

.panel-body ul li {
    list-style-type: none !important;
}

.small-little.text-center{
  color:black;
  font-size: 12px;
}

.btn.btn-xs.btn-warning{
  background-color: #E08A1E !important;
  color: white !important;
}

