
.footer {
  left:0px;
  bottom:00px;
  height:40px;
  width:100%;
  margin-top: 25px;
  padding-bottom:5px;
  border-top: none;
  background-color: transparant !important;
  text-align: center;
  margin-top: 15px;
  color: white;
  font-size: 12px;

}

