
@media screen and (max-width: 480px) {
  h1.homepage-text { 
    font-size: 60px !important; 
  }
}

.image.responsive.home-bg {
  background-image: asset-url('hiker2.jpg');
  background-size: 100%;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}


.center.jumbotron {
  background-color: transparent;
  height:550px;

}

.jumbotron h1 {
  
  color: white;
  text-align: center;
  padding-top: 105px;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
  font-size: 70px ;

}

.btn-xlarge{
  font-size: 1.7em;
  background-color:#C93756;
  border: 2px solid #C93756;
}

.btn-xlarge:hover {
  background-color: #C3272B;
  border: 2px solid #C3272B;
}

.btn.btn-xs.btn-danger {
  margin-top: 5px;
}
.btn.btn-xs.btn-primary {
  margin-top: 5px;
}
.btn.btn-xs.btn-warning {
  margin-top: 5px;
}



.small-home{
  font-size:15px;
  color:white;
  margin-top:10px;
}

.btn.btn-success {
  background-color: #C93756;
  border-color: #C93756;
  margin-top: 20px;
}

.btn.btn-success:hover {
  background-color: #DB5A6B;
  border-color: #DB5A6B;
}

