.well.well-lg {
  background-color: #ECF0F1 !important;
  border: none;
}

.image.responsive.index-bg {
  background-image: asset-url('blurry.jpg');
  background-size: 100%;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  opacity: 1;
  
}

.article-body {
  margin-bottom: 10px;
}

h1.text-center{
  color:white !important;
  font-size: 50px;
  margin-bottom: 25px;
}