.image.responsive.index-users-bg {

  background-image: asset-url('prinsengracht.jpg');
  background-size: 100%;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}


.listing {
  list-style: none;
  padding-left: 0;

}

.userindex {
  padding-bottom: 0px !important;
  
}
.well.userindex {
  min-height: 20px;
  padding: 8px;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-bottom: 0px;
  background-color: none !important;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  background-color: #F9690E !important;
}

.user-index-bg {
  color: white !important;
  max-width: 150px;
  text-align: center;
}