#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #4B77BE;
  text-decoration:none;
}

.nav.navbar-default.container-fluid.navbar-header {
  color: #fff !important;
}

