#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color:black;
  text-decoration:none;
}

nav.navbar.nav {
  color: #fff !important;
}