.image.responsive.show-users-bg{
  background-image: asset-url('desert.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  min-width: 100%;
  
}


.text-center-white{
  color:white;
}

.col-md-12.comment-text{
  width: 100%;
}


@media screen and (max-width: 480px) {
.user_info.comment_img.center { 
    size: 50% !important; 
  }
}